.employee-wrapper {
  padding: 1rem;
  z-index: 2;
  color: #55646c;
  font-size: 0.6rem;;
  text-align: center;
}

.employee-wrapper > p {
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.employee-wrapper p:hover {
  color: #eee;
}

.details-container {
  opacity: 0;
  height: 0;
}

.details-shown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  height: 100%;
  opacity: 1;
  transition: all 0.6s ease;
}

.details-hidden {
  opacity: 0;
  height: 0;
  transition: all 0.6s ease;
}

.square {
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 2px 0px rgb(19, 19, 20);
  background: linear-gradient(
      to top left,
      rgba(43, 57, 65, 0) 0%,
      rgba(43, 57, 65, 0) calc(50% - 2.8px),
      rgb(43, 57, 65) 50%,
      rgba(43, 57, 65, 0) calc(50% + 2.8px),
      rgba(43, 57, 65, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(43, 57, 65, 0) 0%,
      rgba(43, 57, 65, 0) calc(50% - 2.8px),
      rgb(43, 57, 65) 50%,
      rgba(43, 57, 65, 0) calc(50% + 2.8px),
      rgba(43, 57, 65, 0) 100%
    );
  background-color: #1e2a31;
}

.red {
  width: 70%;
  height: auto;
  transform: rotate(180deg);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

.employee-wrapper img {
  width: 95%;
}

@media(min-width: 500px) {
  .employee-wrapper{
    font-size: 0.8rem;
  }
  .square {
    width: 70px;
    height: 70px;
  }
}

@media(min-width: 600px) {
  .employee-wrapper{
    font-size: 1rem;
  }
.square {
  width: 80px;
  height: 80px;
}
}

@media(min-width: 800px) {
  .employee-wrapper {
    font-size: 1.3rem;
  }
  .square {
    width: 90px;
    height: 90px;
  }
}

@media(min-width: 1200px) {
  .employee-wrapper {
    font-size: 1.5rem;
  }
  .square {
    width: 110px;
    height: 110px;
  }
}

@media(min-width: 1500px) {
  .employee-wrapper {
    font-size: 1.7rem;
  }
  .square {
    width: 120px;
    height: 120px;
  }
}