.employee-wrapper {
  text-align: center;
  padding: 1rem;
  z-index: 2;
  color: #55646c;
  font-size: 1.2rem;;
}

.employee-wrapper p {
  cursor: pointer;
  transition: all 0.3s ease;
}

.employee-wrapper p:hover {
  color: #eee;
}

.details-container {
  opacity: 0;
  height: 0;
}

.details-shown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  height: 100%;
  opacity: 1;
  transition: all 0.6s ease;
}

.details-hidden {
  opacity: 0;
  height: 0;
  transition: all 0.6s ease;
}

.square {
  height: 100px;
  width: 100px;
  box-shadow: 0px 0px 2px 0px rgb(19, 19, 20);
  background: linear-gradient(
      to top left,
      rgba(43, 57, 65, 0) 0%,
      rgba(43, 57, 65, 0) calc(50% - 2.8px),
      rgb(43, 57, 65) 50%,
      rgba(43, 57, 65, 0) calc(50% + 2.8px),
      rgba(43, 57, 65, 0) 100%
    ),
    linear-gradient(
      to top right,
      rgba(43, 57, 65, 0) 0%,
      rgba(43, 57, 65, 0) calc(50% - 2.8px),
      rgb(43, 57, 65) 50%,
      rgba(43, 57, 65, 0) calc(50% + 2.8px),
      rgba(43, 57, 65, 0) 100%
    );
  background-color: #1e2a31;
}
