.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.header-container h1 {
  margin: 2rem 0 0 2rem;;
  font-size: 1rem;
}

@media(min-width: 500px) {
  .header-container h1 {
    font-size: 1.4rem;
  }
}

@media(min-width: 800px) {
  .header-container h1 {
    font-size: 1.6rem;
  }
}

@media(min-width: 1200px) {
  .header-container h1 {
    font-size: 1.8rem;
    margin-left: 3rem;
  }
}

@media(min-width: 1500px) {
  .header-container h1 {
    font-size: 2rem;
    margin-left: 4rem;
  }
}

.header-container img {
  width: 100%;
}
