.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto 5rem auto;
  overflow: hidden;
}

.header-container h1 {
  margin: 2rem;
  font-size: 1.2rem;
}

.header-container img {
  position: absolute;
  transform: rotate(211.5deg);
  width: 60%;
  top: -156px;
  /* overflow: hidden; */
}
